# Игнорирование временных файлов PHPStorm
/.idea

# Игнорирование временных файлов PHPUnit
/phpunit.phar
/phpunit.xml

# Игнорирование каталога composer, содержащего зависимости
/vendor/

# Игнорирование файлов журналов ошибок
/log/*
!/log/.gitkeep

# Игнорирование кэш-файлов, создаваемых PHP
/cache/*
!/cache/.gitkeep

# Игнорирование сгенерированных файлов
/generated/*

# Игнорирование конфигурационных файлов
/config/*.local.php

# Игнорирование файлов с настройками базы данных
/config/autoload/local.php
/config/autoload/local.php.dist

# Игнорирование файлов окружения
.env
.env.local
.env.*.php
!.env.example

# Игнорирование файлов настроек IDE
/.vscode/
/.phpstorm.meta.php/
